* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes opacidad {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header {
    width: 100%;
    align-items: center;
    background-color: rgba(173, 216, 230, 0.94);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;

    img {
        margin-left: 50px;
        display: inline-block;
        width: 170px;
        border-radius: 50%;
    }

    h1 {
        /*Color del titulo*/
        color: #01040c;
        /*Tipografia del titulo*/
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 40;
        font-style: normal;
        /*Tamaño del titulo*/
        font-size: 4vw;
        display: flex;
        justify-content: flex-end;
    }
}

.section-articles {
    background-color: rgba(250, 235, 215, 0.652);

    h4 {
        text-decoration: underline;
    }

    .tituloh4 {
        text-align: center;
    }
}

.imagenhome {
    width: 100%;
    height: 90%;
}

.article-esencia {
    h3 {
        /*Color del subtitulo*/
        color: rgb(28, 79, 249);
        /*Familia tipografica*/
        font-family: "Freeman";
        font-size: 60px;
        font-weight: 250;
        text-decoration: underline;
        text-align: center;
    }

    p {
        /*Color del parrafo*/
        color: black;
        /*Tamaño parrafo*/
        font-size: 24px;
        font-weight: 150px;
        background-color: rgba(250, 235, 215, 0.336);
    }
}

body {
    background: linear-gradient(to bottom, #0073ff, #5ea2f6);
}

.main-esencia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;

    h4 {
        display: inline-block;
        background-color: rgb(5, 178, 146);
        justify-content: center;
        margin-top: 10px;
        margin-left: 42%;
    }

    p {
        font-size: medium;
        text-align: center;
    }
}

.section-emunahndo {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    .divsurf {
        display: flex;
        flex-direction: column;
    }

    h3 {
        text-decoration: underline;
    }
}

main {
    animation-duration: 2s;
    animation-name: opacidad;

    .video-caravana {
        width: 90%;
        height: 90%;
        margin-top: 42px;
        margin-left: 32px;
    }

    .imagen-ia {
        width: 90%;
        height: 90%;
        margin-top: 42px;
    }
}

.sectioncolaboracion {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;

    p {
        width: 60%;
        margin-left: 20%;
    }

    h2 {
        text-align: center;
        text-decoration: underline;
        margin-top: 5px;
    }

    h3 {
        background-color: rgba(250, 235, 215, 0.605);
        display: inline-block;
    }

    button {
        background-color: black;
        border: solid;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
    }

    button:hover {
        background-color: #4CAF50;
        color: black;
    }

    .cartacolaboracion {
        background-color: #5ea2f6de;
        border-radius: 5%;
        margin: 0% 25% 5%;
        padding: 3%;
    }
}

footer {
    background-color: black;
    margin-top: 20px;
    padding-top: 25px;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        color: #5ea2f6;
    }
}

@media only screen and (max-width:480px) {
    .tituloh1 {
        display: none;
    }

    header {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: max-content;
        align-items: center;
        justify-content: space-between;
    }

    .section-articles {
        text-align: center;
    }

    body {
        background: linear-gradient(to bottom, #0073ff, #5ea2f6);
    }

    .section-emunahstore {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }

    .section-emunahndo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        width: 100%;
        align-content: center;
    }
}

@media only screen and (max-width:768px) {
    .imglogo {
        display: none;
    }

    .section-emunahstore {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);

    }

    .section-emunahndo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        width: 100%;
        align-content: center;
    }
}

@media only screen and (max-width:1200px) {
    .tituloh1 {
        display: none;
    }

    .section-emunahstore {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }

    .textcenter {
        text-align: center;
    }

    main {
        .video-caravana {
            width: 90%;
            height: 500px;
            margin-left: 5%;
        }
    }

    .main-esencia {
        display: flex;
        flex-direction: column;
    }

    .imagen-ia {
        margin-left: 5%;
    }
}